/*
    Title: contact.component.css
    Author: Carl Logan
    Date: 1/15/2023
    Description: Routing in Action.
*/

/* this will make the bootstrap icon font usable in html
@import "~bootstrap-icons/font/bootstrap-icons.css"; */
