<!--
    Title: about.component.html
    Author: Carl Logan
    Date: 1/15/2023
    Description: Routing in Action.
-->

<div class="container">
  <div class="row">
    <figure class="col-4">
      <img src="assets/pexels-dany-13385066.jpg" alt="A statue of Mozart.">
      <figcaption>Mozart.
        <a href="https://www.pexels.com/photo/mozart-statue-in-salzburg-square-austria-13385066/">
          Photo by Dany
        </a>
      </figcaption>
    </figure>

    <div class="col-8">
      <h2 class="page-heading">Mozart</h2>
      <p class="text-body">
        Austrian composer and performer Wolfgang Amadeus Mozart belonged to the
        Classical era. From an early age, he displayed extraordinary talent. He
        began composing at the age of five and performed for European royalty while
        being already proficient on the keyboard and violin. At age 17, he was
        hired as a court musician in Salzburg. However, he soon became restless and
        moved around in pursuit of a better job while producing great music. Many
        of his most well-known symphonies, concertos, operas, and pieces of the
        Requiem, which was largely incomplete at the time of his untimely death,
        were written during his final years.
      </p>
    </div>
  </div>
</div>



