/*
    Title: app.component.css
    Author: Carl Logan
    Date: 01/31/2023
    Description: Exercise 5.2 - Navigation and Layout
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
