<!--
    Title: composer-details.component.html
    Author: Carl Logan
    Date: 01/27/2023
    Description: Inversion of control and dependency injection.
-->

<!-- The display for the requested composer -->
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item">Composer ID: {{ composer.composerId }}</li>
      <li class="list-group-item">Full name: {{ composer.fullName}}</li>
      <li class="list-group-item">Genre: {{ composer.genre }}</li>
    </ul>
    <a routerLink="/composer-list" class="float-right">Return to Composers</a>
  </div>
</div>
